.services{
    padding:3%;
}
.icons{
    filter: brightness(0) invert(1);
    height:95px;
}
p{
   font-size: 16px;
}
.services{
    background-color:#C3404E ;
    color: white;
}

@media (max-width:450px) {
    .icons{
        height: 50px;
        width: 30px;
    }
    p{
        font-size: 12px;
    }

}